.mediaViewInfo {
    --web-view-name: Web 1920 – 3;
    --web-view-id: Web_1920__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Web_1920__3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Web_1920__3 {
    position: absolute;
    width: 1920px;
    height: 6325px;
    background-color: rgba(241,241,241,1);
    overflow: hidden;
    --web-view-name: Web 1920 – 3;
    --web-view-id: Web_1920__3;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
#Bottom_Bar {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 6205px;
    overflow: visible;
}
#Bottom_bar {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Navbar {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_91_z {
    fill: url(#Rectangle_91_z);
}
.Rectangle_91_z {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
}
#Rectangle_93 {
    opacity: 0.35;
    fill: #6610f2;
}
.Rectangle_93 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
}
#Icons_bottom_bar {
    position: absolute;
    width: 1730.481px;
    height: 67px;
    left: 100.279px;
    top: 27px;
    overflow: visible;
}
#H_inh {
    position: absolute;
    width: 69.924px;
    height: 66.595px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#H_haar {
    position: absolute;
    width: 68.743px;
    height: 66.595px;
    left: 110.459px;
    top: 0px;
    overflow: visible;
}
#instagram-logos-png-images-fre {
    position: absolute;
    width: 66.66px;
    height: 66.595px;
    left: 1663.821px;
    top: 0px;
    overflow: visible;
}
#Facebook_Logo_2019 {
    position: absolute;
    width: 66px;
    height: 67px;
    left: 1565.721px;
    top: 0px;
    overflow: visible;
}
#Methods_of_Payments__Cookies_D {
    left: 384px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 1153px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(20,19,19,1);
}

#sharing {
    position: absolute;
    width: 1785px;
    height: 698px;
    left: 76px;
    top: 5307px;
    overflow: visible;
    display:flex;
}
#Sharing_of_the_customers_last_ {
    left: 473px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 823px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: rgba(0,0,0,1);
}
#Image_20 {
    position: absolute;
    width: 471px;
    height: 489px;
    left: 603px;
    top: 209px;
    overflow: visible;
}
#Image_21 {
    position: absolute;
    width: 473px;
    height: 489px;
    left: 0px;
    top: 209px;
    overflow: visible;
}
#Image_22 {
    position: absolute;
    width: 623px;
    height: 489px;
    left: 1162px;
    top: 209px;
    overflow: visible;
}
#socialDistance {
    position: absolute;
    width: 1920px;
    height: 798px;
    left: 0px;
    top: 4309px;
    overflow: visible;
}
#Image_5 {
    position: absolute;
    width: 1913px;
    height: 798px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_39 {
    opacity: 0.82;
    fill: rgba(0,0,0,1);
}
.Path_39 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 798px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Social_Distancing {
    left: 453px;
    top: 154px;
    position: absolute;
    overflow: visible;
    width: 1015px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgba(255,255,255,1);
}
#Dont_Worry {
    left: 806px;
    top: 345px;
    position: absolute;
    overflow: visible;
    width: 309px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#You_can_enjoy_The_Haarlem_Fest {
    left: 408px;
    top: 406px;
    position: absolute;
    overflow: visible;
    width: 1105px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Button_GO1 {
    position: absolute;
    width: 748px;
    height: 101px;
    left: 586px;
    top: 544px;
    overflow: visible;
}
#Rectangle_95 {
    fill: #6610f2;
}
.Rectangle_95 {
    position: absolute;
    overflow: visible;
    width: 748px;
    height: 101px;
    left: 0px;
    top: 0px;
}
#View_our_online_events {
    left: 666px;
    top: 558px;
    position: absolute;
    overflow: visible;
    width: 590px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(255,255,255,1);
}
#volunteer {
    position: absolute;
    width: 654px;
    height: 241px;
    left: 633px;
    top: 3868px;
    overflow: visible;
}
#Interested_in_Volunteering {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 655px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: rgba(0,0,0,1);
}
#Rectangle_111_bo {
    fill: url(#Rectangle_111_bo);
}
.Rectangle_111_bo {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 96px;
    top: 235px;
}
#Rectangle_112_bq {
    opacity: 0.35;
    fill: url(#Rectangle_112_bq);
}
.Rectangle_112_bq {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 96px;
    top: 235px;
}
#Rectangle_113_bs {
    opacity: 0.35;
    fill: url(#Rectangle_113_bs);
}
.Rectangle_113_bs {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 96px;
    top: 235px;
}
#Button_GO_bt {
    position: absolute;
    width: 554px;
    height: 75px;
    left: 56px;
    top: 108px;
    overflow: visible;
}
#Rectangle_95_bu {
    fill: #6610f2;
}
.Rectangle_95_bu {
    position: absolute;
    overflow: visible;
    width: 554px;
    height: 75px;
    left: 0px;
    top: 0px;
}
#Email_Us {
    left: 197px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 161px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#createProgramme {
    position: absolute;
    width: 1920px;
    height: 798px;
    left: 0px;
    top: 2870px;
    overflow: visible;
}
#Image_4 {
    position: absolute;
    width: 1659px;
    height: 798px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_109 {
    opacity: 0.82;
    fill: rgba(0,0,0,1);
}
.Rectangle_109 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 798px;
    left: 0px;
    top: 0px;
}
#Group_1 {
    position: absolute;
    width: 1216px;
    height: 491px;
    left: 352px;
    top: 154px;
    overflow: visible;
}
#Busy_Week {
    left: 275px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 667px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    color: rgba(255,255,255,1);
}
#Weve_go_you_covered {
    left: 341px;
    top: 191px;
    position: absolute;
    overflow: visible;
    width: 535px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Optimize_your_time_with_a_pers {
    left: 0px;
    top: 252px;
    position: absolute;
    overflow: visible;
    width: 1217px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Button_GO_b {
    position: absolute;
    width: 748px;
    height: 101px;
    left: 234px;
    top: 390px;
    overflow: visible;
}
#Rectangle_95_b {
    fill: #6610f2;
}
.Rectangle_95_b {
    position: absolute;
    overflow: visible;
    width: 748px;
    height: 101px;
    left: 0px;
    top: 0px;
}
#Create_a_Programme {
    left: 109px;
    top: 14px;
    position: absolute;
    overflow: visible;
    width: 532px;
    white-space: nowrap;
    text-align: left;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    color: rgba(255,255,255,1);
}
#register {
    position: absolute;
    width: 658px;
    height: 241px;
    left: 631px;
    top: 2429px;
    overflow: visible;
}
#Dont_have_an_account_yet {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 659px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: rgba(0,0,0,1);
}
#Rectangle_111_ca {
    fill: url(#Rectangle_111_ca);
}
.Rectangle_111_ca {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 98px;
    top: 235px;
}
#Rectangle_112_cb {
    opacity: 0.35;
    fill: url(#Rectangle_112_cb);
}
.Rectangle_112_cb {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 98px;
    top: 235px;
}
#Rectangle_113_cd {
    opacity: 0.35;
    fill: url(#Rectangle_113_cd);
}
.Rectangle_113_cd {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 98px;
    top: 235px;
}
#Button_GO_ce {
    position: absolute;
    width: 554px;
    height: 75px;
    left: 58px;
    top: 108px;
    overflow: visible;
}
#Rectangle_95_cf {
    fill: #6610f2;
}
.Rectangle_95_cf {
    position: absolute;
    overflow: visible;
    width: 554px;
    height: 75px;
    left: 0px;
    top: 0px;
}
#Register_cg {
    left: 200px;
    top: 11px;
    position: absolute;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: rgba(255,255,255,1);
}
#midDance {
    position: absolute;
    width: 640px;
    height: 852px;
    left: 0px;
    top: 1376px;
    overflow: visible;
}
#Image_1 {
    position: absolute;
    width: 639px;
    height: 852px;
    left: 1px;
    top: 0px;
    overflow: visible;
}
#recDance {
    opacity: 0.7;
    fill: rgba(1,1,1,1);
}
.recDance {
    position: absolute;
    overflow: visible;
    width: 640px;
    height: 302px;
    left: 0px;
    top: 497px;
}
#Time_to_get_wild_with_the_musi {
    left: 24px;
    top: 530px;
    position: absolute;
    overflow: visible;
    width: 596px;
    height: 155px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#dance_Button {
    position: absolute;
    width: 216px;
    height: 45px;
    left: 213px;
    top: 726px;
    overflow: visible;
}
#Rectangle_95_cm {
    fill: rgba(255,255,255,0.2);
}
.Rectangle_95_cm {
    position: absolute;
    overflow: visible;
    width: 216px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#GET_MORE_INFO {
    left: 19px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#danceColorBar {
    position: absolute;
    width: 537px;
    height: 6px;
    left: 53px;
    top: 695px;
    overflow: visible;
}
#Rectangle_91_cq {
    fill: url(#Rectangle_91_cq);
}
.Rectangle_91_cq {
    position: absolute;
    overflow: visible;
    width: 537px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Rectangle_93_cs {
    opacity: 0.35;
    fill: url(#Rectangle_93_cs);
}
.Rectangle_93_cs {
    position: absolute;
    overflow: visible;
    width: 537px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Rectangle_98 {
    opacity: 0.35;
    fill: rgba(16,252,0,1);
}
.Rectangle_98 {
    position: absolute;
    overflow: visible;
    width: 537px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#midJazz {
    position: absolute;
    width: 640px;
    height: 853px;
    left: 640px;
    top: 1376px;
    overflow: visible;
}
#Image_2 {
    position: absolute;
    width: 640px;
    height: 853px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#recJazz {
    opacity: 0.7;
    fill: rgba(1,1,1,1);
}
.recJazz {
    position: absolute;
    overflow: visible;
    width: 640px;
    height: 302px;
    left: 0px;
    top: 497px;
}
#Jazz_is_back_in_Haarlem_Come_a {
    left: 23px;
    top: 530px;
    position: absolute;
    overflow: visible;
    width: 593px;
    height: 155px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#jazzColorBar {
    position: absolute;
    width: 536px;
    height: 6px;
    left: 52px;
    top: 695px;
    overflow: visible;
}
#Rectangle_91_c {
    fill: url(#Rectangle_91_c);
}
.Rectangle_91_c {
    position: absolute;
    overflow: visible;
    width: 536px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Rectangle_93_da {
    opacity: 0.35;
    fill: url(#Rectangle_93_da);
}
.Rectangle_93_da {
    position: absolute;
    overflow: visible;
    width: 536px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Rectangle_97 {
    opacity: 0.52;
    fill: #6610f2;
}
.Rectangle_97 {
    position: absolute;
    overflow: visible;
    width: 536px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Jazz_Button {
    position: absolute;
    width: 216px;
    height: 45px;
    left: 212px;
    top: 726px;
    overflow: visible;
}
#Rectangle_95_c {
    fill: rgba(255,255,255,0.2);
}
.Rectangle_95_c {
    position: absolute;
    overflow: visible;
    width: 216px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#GET_MORE_INFO_c {
    left: 18px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#midFood {
    position: absolute;
    width: 641px;
    height: 853px;
    left: 1279px;
    top: 1376px;
    overflow: visible;
}
#Image_3 {
    position: absolute;
    width: 641px;
    height: 853px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#recFood {
    opacity: 0.7;
    fill: rgba(1,1,1,1);
}
.recFood {
    position: absolute;
    overflow: visible;
    width: 640px;
    height: 302px;
    left: 1px;
    top: 497px;
}
#Food_Button {
    position: absolute;
    width: 217px;
    height: 45px;
    left: 214px;
    top: 726px;
    overflow: visible;
}
#Rectangle_95_db {
    fill: rgba(255,255,255,0.2);
}
.Rectangle_95_db {
    position: absolute;
    overflow: visible;
    width: 217px;
    height: 45px;
    left: 0px;
    top: 0px;
}
#GET_MORE_INFO_dc {
    left: 18px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 162px;
    white-space: nowrap;
    text-align: left;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: rgba(255,255,255,1);
}
#Time_to_get_wild_with_the_musi_dd {
    left: 25px;
    top: 530px;
    position: absolute;
    overflow: visible;
    width: 593px;
    height: 155px;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#foodColorBar {
    position: absolute;
    width: 537px;
    height: 6px;
    left: 54px;
    top: 695px;
    overflow: visible;
}
#Rectangle_91_dg {
    fill: url(#Rectangle_91_dg);
}
.Rectangle_91_dg {
    position: absolute;
    overflow: visible;
    width: 537px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Rectangle_93_di {
    opacity: 0.35;
    fill: url(#Rectangle_93_di);
}
.Rectangle_93_di {
    position: absolute;
    overflow: visible;
    width: 537px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Rectangle_99 {
    opacity: 0.35;
    fill: rgba(187,126,3,1);
}
.Rectangle_99 {
    position: absolute;
    overflow: visible;
    width: 537px;
    height: 6px;
    left: 0px;
    top: 0px;
}
#Header {
    position: absolute;
    width: 1930px;
    height: 1247px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Headline_Text {
    position: absolute;
    width: 1056px;
    height: 219px;
    left: 432px;
    top: 1028px;
    overflow: visible;
}
#Anniversary_of_The_Historic_Ci {
    left: 0px;
    top: 73px;
    position: absolute;
    overflow: visible;
    width: 1057px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: rgba(0,0,0,1);
}
#Group_9 {
    position: absolute;
    width: 657px;
    height: 73px;
    left: 200px;
    top: 0px;
    overflow: visible;
}
#ID190th_ {
    left: 503px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 155px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: #6610f2;
}
#Come_Celebrate_The {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 493px;
    white-space: nowrap;
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    color: rgba(0,0,0,1);
}
#Rectangle_100_dr {
    fill: url(#Rectangle_100_dr);
}
.Rectangle_100_dr {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 297px;
    top: 181px;
}
#Rectangle_101_dt {
    opacity: 0.35;
    fill: url(#Rectangle_101_dt);
}
.Rectangle_101_dt {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 297px;
    top: 181px;
}
#Rectangle_110_dv {
    opacity: 0.35;
    fill: url(#Rectangle_110_dv);
}
.Rectangle_110_dv {
    position: absolute;
    overflow: visible;
    width: 463px;
    height: 6px;
    left: 297px;
    top: 181px;
}
#HaarlemCity {
    position: absolute;
    width: 1930px;
    height: 794.5px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Path_40 {
    opacity: 0.37;
    fill: rgba(0,0,0,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Path_40 {
    overflow: visible;
    position: absolute;
    width: 1920px;
    height: 917px;
    left: 0px;
    top: 0px;
    transform: matrix(1,0,0,1,0,0);
}
#Experience_Haarlem {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    left: 232px;
    top: 284px;
    position: absolute;
    overflow: visible;
    width: 1457px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 167px;
    color: rgba(228,226,226,1);
}
#nav-bar {
    position: absolute;
    width: 1920px;
    height: 123px;
    left: 0px;
    top: 794px;
    overflow: visible;
}
#Rectangle_91_ea {
    fill: url(#Rectangle_91_ea);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_91_ea {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 3px;
}
#Rectangle_93_d {
    opacity: 0.35;
    fill: #6610f2;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_93_d {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
}
#Rectangle_102 {
    opacity: 0.15;
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_102 {
    position: absolute;
    overflow: visible;
    width: 184px;
    height: 120px;
    left: 45px;
    top: 2px;
}
#Dance_d {
    left: 307px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Jazz_d {
    left: 547px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Login {
    left: 1737px;
    top: 33.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Register_d {
    left: 1497px;
    top: 33.038px;
    position: absolute;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Home {
    left: 67px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(32,30,30,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 115px;
    height: 1px;
    left: 78.5px;
    top: 96.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Search {
    position: absolute;
    width: 279px;
    height: 52px;
    left: 1195px;
    top: 36px;
    overflow: visible;
}
#Rectangle_119 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_119 {
    position: absolute;
    overflow: visible;
    width: 279px;
    height: 52px;
    left: 0px;
    top: 0px;
}
#Path_42 {
    fill: rgba(0,0,0,1);
}
.Path_42 {
    overflow: visible;
    position: absolute;
    width: 28.746px;
    height: 28.746px;
    left: 11.601px;
    top: 10.6px;
    transform: matrix(1,0,0,1,0,0);
}
#Food_ee {
    left: 787px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#buy_ticket {
    position: absolute;
    width: 1920px;
    height: 61px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Ticket_Buy {
    opacity: 0.55;
    position: absolute;
    width: 1920px;
    height: 61px;
    left: 0px;
    top: 0px;
    overflow: visible;
}
#Rectangle_96 {
    fill: #6610f2;
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_96 {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 61px;
    left: 0px;
    top: 0px;
}
#Lables {
    position: absolute;
    width: 427px;
    height: 42px;
    left: 747px;
    top: 10px;
    overflow: visible;
}
#Button_GO_ej {
    position: absolute;
    width: 187px;
    height: 42px;
    left: 240px;
    top: 0px;
    overflow: visible;
}
#Rectangle_95_ek {
    fill: rgba(255,255,255,0.2);
    stroke: rgba(255,247,247,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_95_ek {
    position: absolute;
    overflow: visible;
    width: 187px;
    height: 42px;
    left: 0px;
    top: 0px;
}
#Get_Tickets {
    left: 41px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: center;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgba(255,255,255,1);
}
#Dont_want_to_miss_out {
    left: 0px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 229px;
    white-space: nowrap;
    text-align: center;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgba(255,255,255,1);
}


a {
    text-decoration: none !important;
}

a:hover{
    opacity: 0.55;
}

/*Dynamic*/
Lables {
    position: absolute;
    width: 427px;
    height: 42px;
    left: 747px;
    top: 10px;
    overflow: visible;
}
#Button_GO {
    position: absolute;
    width: 187px;
    height: 42px;
    left: 240px;
    top: 0px;
    overflow: visible;
}
#Rectangle_95 {
    fill: rgba(255,255,255,0.2);
    stroke: rgba(255,247,247,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_95 {
    position: absolute;
    overflow: visible;
    width: 187px;
    height: 42px;
    left: 0px;
    top: 0px;
}
#Get_Tickets {
    left: 41px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 105px;
    white-space: nowrap;
    text-align: center;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgba(255,255,255,1);
}
#Dont_want_to_miss_out {
    left: 0px;
    top: 7px;
    position: absolute;
    overflow: visible;
    width: 229px;
    white-space: nowrap;
    text-align: center;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgba(255,255,255,1);
}

/*Nav bar*/
#nav-bar {
    position: absolute;
    width: 1920px;
    height: 123px;
    left: 0px;
    top: 794px;
    overflow: visible;

}
#Rectangle_91_dt {
    fill: url(#Rectangle_91_dt);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
    position: absolute;
}
.Rectangle_91_dt {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 3px;
}
#Rectangle_93_du {
    opacity: 0.35;
    fill: rgba(255,96,149,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_93_du {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
}
#Dance {
    left: 307px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Jazz {
    left: 547px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Login {
    left: 1737px;
    top: 33.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Register {
    left: 1497px;
    top: 33.038px;
    position: absolute;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}

#Rectangle_102 {
    opacity: 0.15;
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_102 {
    position: absolute;
    overflow: visible;
    width: 184px;
    height: 120px;
    left: 765px;
    top: 3px;
}
#Home {
    left: 67px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}
#Line_1 {
    fill: transparent;
    stroke: rgba(32,30,30,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Line_1 {
    overflow: visible;
    position: absolute;
    width: 115px;
    height: 1px;
    left: 78.5px;
    top: 96.5px;
    transform: matrix(1,0,0,1,0,0);
}
#Search {
    position: absolute;
    width: 279px;
    height: 52px;
    left: 1195px;
    top: 36px;
    overflow: visible;
}
#Rectangle_119 {
    fill: rgba(255,255,255,1);
    stroke: rgba(112,112,112,1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}
.Rectangle_119 {
    position: absolute;
    overflow: visible;
    width: 279px;
    height: 52px;
    left: 0px;
    top: 0px;
    --web-animation: fadein 0.3s ease-out;
    --web-action-type: page;
    cursor: pointer;
}
#Path_42 {
    fill: rgba(0,0,0,1);
}
.Path_42 {
    overflow: visible;
    position: absolute;
    width: 28.746px;
    height: 28.746px;
    left: 11.601px;
    top: 10.6px;
    transform: matrix(1,0,0,1,0,0);
}
#Food {
    left: 787px;
    top: 35.038px;
    position: absolute;
    overflow: visible;
    width: 140px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    color: rgba(3,3,3,1);
}

/*Footer*/
#Footer {
    position: absolute;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 6205px;
    overflow: visible;
}
#Rectangle_91_bz {
    fill: url(#Rectangle_91_bz);
}
.Rectangle_91_bz {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
}
#Rectangle_93_b {
    opacity: 0.35;
    fill: #6610f2;
}
.Rectangle_93_b {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 120px;
    left: 0px;
    top: 0px;
}
#H_inh {
    position: absolute;
    width: 69.925px;
    height: 66.595px;
    left: 100.279px;
    top: 27px;
    overflow: visible;
}
#H_haar {
    position: absolute;
    width: 68.743px;
    height: 66.595px;
    left: 210.738px;
    top: 27px;
    overflow: visible;
}
#instagram-logos-png-images-fre {
    position: absolute;
    width: 66.66px;
    height: 66.595px;
    left: 1764.101px;
    top: 27px;
    overflow: visible;
}
#Facebook_Logo_2019 {
    position: absolute;
    width: 66px;
    height: 67px;
    left: 1666px;
    top: 27px;
    overflow: visible;
}
#Methods_of_Payments__Cookies_D {
    left: 384px;
    top: 41px;
    position: absolute;
    overflow: visible;
    width: 1153px;
    white-space: nowrap;
    text-align: center;
    font-family: Averta Demo PE;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    color: rgba(20,19,19,1);
}
.accesspass-containers{
    padding:20px;
}
.accesspass-tickets{
    font-size:18px;
}
.register-heading h1{
    text-transform: uppercase;
    font-size:50px;
    color:black;
}
.register-heading{
    position: absolute;
    bottom: 130%;
}
